@use "../../../src/partials/mixins" as *;
@use "../../partials/variables" as *;

.music {
    background-color: $lm-background2;

    &__h2,
    &__p {
        background-color: inherit;
    }
}

.album-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    background-color: inherit;
}

.album {
    display: flex;
    width: 100%;
    background-color: inherit;

    @include tablet {
        width: auto;
    }
    &__embed {
        border: 1px solid black;
        margin-bottom: 1rem;
        background-color: inherit;

        @include tablet {
            padding: 2rem;
        }
    }
}
