@use "../../../src/partials/variables" as *;
@use "../../../src/partials/mixins" as *;

.header {
    //border: 1px solid;
    padding: 1rem 6rem 6rem 6rem;
    border-radius: 1rem;
    background-color: $lm-background2;
    margin: 6rem auto;

    @include tablet {
        width: 60%;
    }

    &__h1 {
        background-color: inherit;
        text-align: center;
        font-family: "Bungee Shade", sans-serif;
        font-family: "Coming Soon", cursive;
        font-family: "Expletus Sans", sans-serif;
        font-family: "Josefin Sans", sans-serif;
        font-family: "Grape Nuts", sans-serif;
        font-family: "Joti One", sans-serif;
        font-family: "Rubik Burned", sans-serif;
        font-family: "Rubik Maze", sans-serif;
        font-family: "Quicksand", sans-serif;
        font-family: "Nova Slim", sans-serif;
    }
}
.titles-container {
    display: flex;
    justify-content: space-around;

    &__title {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        animation: alternatingText 9s linear infinite 0s;
        background-color: $lm-background2;
    }
    &__title:nth-child(2) {
        animation-delay: 5s;
    }
}

@keyframes alternatingText {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
