@use "../../../src/partials/variables" as *;

.header {
    //border: 1px solid;
    padding: 1rem 6rem 6rem 6rem;
    border-radius: 1rem;
    background-color: $lm-background2;

    &__h1 {
        background-color: inherit;
    }
}
.titles-container {
    display: flex;
    justify-content: space-around;

    &__title {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        animation: alternatingText 9s linear infinite 0s;
        background-color: $lm-background2;
    }
    &__title:nth-child(2) {
        animation-delay: 5s;
    }
}

@keyframes alternatingText {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
