@use "../../partials/mixins" as *;

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;

    &__h6 {
        text-align: center;
        margin: 0;
    }
}
.image-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;

    @include tablet {
        width: 75%;
    }
    @include desktop {
        width: 55%;
    }

    &__a {
        display: flex;

        &--linkedin {
            margin-right: -7px;
        }

        &--twitter {
            margin-right: -5px;
        }
        &:hover {
            padding: 0 !important;
        }
    }

    &__img {
        width: 2rem;

        &--email,
        &--facebook {
            width: 2.3rem;
        }
        &--twitter {
            width: 2.5rem;
        }
        &--threads {
            width: 2.2rem;
            height: 2.3rem;
        }
    }
}
