@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* *, */
body,
html {
  font-family: "Quicksand", sans-serif;
  //background-color: $lm-background;
  color: #384e77;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
html {
  scroll-behavior: smooth;
}
h2 {
  scroll-margin-top: 5rem;
}
section {
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

a:hover {
  background-color: $lm-hover;
  height: 100%;
}

body:not(:has(.dark)) {
  background-color: $lm-background;
}

body:has(.dark) {
  background-color: $dm-background;
  color: $dm-text;
}

.dark {
  background-color: $dm-background !important;
  color: $dm-text !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a,
  .dropdown,
  div {
    background-color: $dm-background !important;
    color: $dm-text !important;
  }

  &--element {
    background-color: $dm-foreground-elements !important;
    @include dm-shadow;

    p,
    h1 {
      background-color: inherit;
      color: $dm-text;
    }
  }
  &--darkSoundDesign {
    background-color: $dm-foreground-elements !important;
    color: $dm-text !important;
  }
  &--darkMusic {
    background-color: $dm-background !important;
    .album-selector,
    .albums-container,
    .seeMore,
    .videos,
    .youtube,
    .title {
      background-color: inherit;
      color: $dm-text;

      &__div {
        background-color: inherit;
      }
      a {
        color: $dm-text;
        &:hover {
          color: $lm-text;
        }
      }
    }
  }
  &--darkShow {
    background-color: $dm-background !important;
    @include dm-shadow;
    a {
      color: $dm-text !important;
      &:hover {
        color: $lm-text !important;
      }
    }
  }
  &--darkVoice {
    background-color: $dm-background !important;

    .voice-card-container {
      @include dm-shadow;
      background-color: $dm-foreground-elements;
    }
  }
  &--darkPress {
    a {
      color: $dm-text;

      &:hover {
        color: $lm-text;
      }
    }
  }
  &--darkNavbar {
    background-color: $dm-background !important;

    a {
      color: $dm-text;
      &:hover {
        color: $lm-text;
      }
    }
    .dropdown-content {
      background-color: $dm-background !important;
    }
    .dropdown-content a {
      padding: 12px 15px;
      &:hover {
        color: $lm-text;
      }
    }
  }
  &--darkMobileNavbar {
    span {
      background-color: $dm-text;
    }
    .dropdown__triangle {
      background-color: $dm-background;
    }
    input:checked ~ span,
    .menuToggle__hamburger {
      background: $dm-text !important;
    }
  }
  &--darkMobileUl {
    background-color: $dm-background !important;
    li,
    a,
    .dropdown--mobile {
      background-color: $dm-background !important;
      color: $dm-text;
    }
    a {
      color: $dm-text;
      &:hover {
        color: $lm-text;
      }
    }
  }
  a:hover {
    background-color: $dm-hover !important;
    color: $dm-foreground-elements !important;
    height: 100%;
    padding: 0 15px;
  }
}
